
<div class="main">

    <div>
        <div id="text">
            <div id="avatar1">
                <img src="../../assets/me.png"/>
            </div>
            <p style="font-weight: bolder; color: #2AB67E; padding-top: 25px;">Hi.</p>
            <p style="padding-top: 20px; padding-bottom: 200px;;"> I’m a software developer based in Baltimore, Maryland.
                I have a passion for software development and love to create 
                unique web and mobile applications.
            </p>
        </div>
    </div>
    

    <div style="margin:auto;">
            <p style="font-size: 50px; font-weight:boldest; color: #1FA06C;">What i can do.</p>

        <div style="text-align:left; padding-left:450px;">
            <p style="color:#2AB67E; padding-top:70px;  padding-bottom: 10px;">Create what you want.</p>
            <p style="width:55%; ">I like to keep it simple, clean and very mordern. My 
                goal is to became the best designer i can posibble be. Therefore,
                i love being challenged and stepping out of my comfort zone.</p>
        </div>
       
        <div style="margin-top:-140px; padding-left:330px; padding-bottom: 300px;">
            <img src="../../assets/me.png"/>&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;
        </div>

        <div style="margin-top:-410px; padding-left:600px; padding-bottom: 300px;">
            <img style=" width:70px; height:70px; border-radius: 50%;" src="../../assets/bulb.png"/>
        </div>

    </div>


    <div>
        <div style="margin-right: 200px; display:flex; padding-bottom: 300px;">
            <div style="float:left;">
                <p style="padding-bottom:10px; color:#2AB67E; ">Build what you need.</p>
                <p style="width: 50%">As a developer, i take pride in my work and my ability
                to create across different platforms, while
                incorporating the latest technology.
                </p>
            </div>
            <div>
                <img style="margin-top:30px; width:120px; height:90px; "src="../../assets/laptop.png"/>&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;&#8213;
                <img style="margin-top: -140px; margin-left: 260px;"src="../../assets/me.png"/> 
            </div>
        </div>
    </div>


    <div>
        <div style="margin-bottom: 80px; text-align:center;">
            <p style="padding-bottom:30px; font-size: 50px; font-weight:boldest; color: #1FA06C;"> I can help. </p>
            <p style="color:#2AB67E; padding-bottom: 10px;">I am currently available for freelancing work.</p>
            <p style="width: 50%; padding-bottom: 50px;">I have a passion for programming and developing, i have helped 
                create and develop numerous applications on different platforms. My goal is to inspire others
                and also be the best version of myself, Therfore; please help me help you.
            </p>
            <button class="button" style="font-size: 22px; font-weight: bolder;"> Contact Me </button>
        </div>
    </div>


    <div class="bottomnav">
        <p style="padding-top:60px;">Thank you for stopping by</p>
        <p style="font-size:medium; padding-top:15px">Built with Angular 8</p>
    </div>

</div>
    


    






























<!-- <div class="row">
        <div id="aboutme" class="col-md-6">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <head>
                        <title>About Me</title>		
                    </head>
                        <div class="container">
                            <div class="header">
                                <h1>About Me</h1>
                            </div>
                            <div class="intro column">
                                <h2>Introduction</h2>
                                <p>
                                        I am a 20 year old software/web developer currenting attending Towson University. i am a junior currently pursuing my first bachelors in Computer Science
                                     and a minor in Mathematics.
                                </p>
                            </div>
                            <div class="skills column">
                                <h3>My Skills</h3>
                                <ul id="skill-list">
                                    <li><strong>Languages:</strong> Java, Python, C++, TypeScript, JavaScript, HTML5, CSS, SQL</li>
                                    <li><strong>Frameworks:</strong> Angular, React JS</li>						
                                    <li><strong>Operation Systems:</strong> Linux (Ubuntu, Kali), Windows and Mac OS</li>
                                    <li><strong>Applications:</strong> AWS (EC2, S3, RDS, DynamoDB), Microsoft Azure</li>
                                </ul>
                            </div>
                            <div class="main-text">
                                <h3>More About Me</h3>
                                <p>
                                    i have always been intrested in software devlopment ever since i was in middle school. At 12 years old i created my first simple web page with HTML and CSS. While studying in the Towson university I was introduced to object oreinted programming which is where my love for software development took off. I was an active member of the software engineering club in which i became responsible for all kinds of tasks and projects. That and my previous interest in web development created a spark to turn my hobby into a career. I took my first steps towards my new career in August 2018, i worked part time with the Baltimore Orioles. During my expreince there, i picked up SQL and learned alot from there. After working there for a year, i decided it was time to take my career to the next level. The following fall, i got the opputunity to work for UPS as a software developer coop in which i am currently still doing.  
                                </p>
                                <p>
                                    I'm highly energetic and motivated person and I love to work as a member or a leader of a team. I especially enjoy working with changing projects and taking them forward with rapid pace but high precision. I am talkative and sociable but also known for getting "in the zone" while concentrating on detailed work like programming or designing.
                                </p>
                            </div>
                        </div>
            </div>
        </div>

        <div id="img" class="col-md-6">
        <div class="view">
            <img src="../../assets/IMG_2167.jpg">	
            </div>
        
        </div>
    </div>-->
