<div class="row">
        <div id="aboutme" class="col-md-6">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <head>
                        <title>About Me</title>		
                    </head>
                        <div class="container">
                            <div class="header">
                                <h1>About Me</h1>
                            </div><!-- end header-->
                            <div class="intro column">
                                <h2>Introduction</h2>
                                <p>
                                        I am a 20 year old software/web developer currenting attending Towson University. i am a junior currently pursuing my first bachelors in Computer Science
                                     and a minor in Mathematics.
                                </p>
                            </div><!-- end intro-->
                            <div class="skills column">
                                <h3>My Skills</h3>
                                <ul id="skill-list">
                                    <li><strong>Languages:</strong> Java, Python, C++, TypeScript, JavaScript, HTML5, CSS, SQL</li>
                                    <li><strong>Frameworks:</strong> Angular, React JS</li>						
                                    <li><strong>Operation Systems:</strong> Linux (Ubuntu, Kali), Windows and Mac OS</li>
                                    <li><strong>Applications:</strong> AWS (EC2, S3, RDS, DynamoDB), Microsoft Azure</li>
                                </ul>
                            </div>
                            <div class="main-text">
                                <h3>More About Me</h3>
                                <p>
                                    i have always been intrested in software devlopment ever since i was in middle school. At 12 years old i created my first simple web page with HTML and CSS. While studying in the Towson university I was introduced to object oreinted programming which is where my love for software development took off. I was an active member of the software engineering club in which i became responsible for all kinds of tasks and projects. That and my previous interest in web development created a spark to turn my hobby into a career. I took my first steps towards my new career in August 2018, i worked part time with the Baltimore Orioles. During my expreince there, i picked up SQL and learned alot from there. After working there for a year, i decided it was time to take my career to the next level. The following fall, i got the opputunity to work for UPS as a software developer coop in which i am currently still doing.  
                                </p>
                                <p>
                                    I'm highly energetic and motivated person and I love to work as a member or a leader of a team. I especially enjoy working with changing projects and taking them forward with rapid pace but high precision. I am talkative and sociable but also known for getting "in the zone" while concentrating on detailed work like programming or designing.
                                </p>
                            </div><!-- end main-text-->
                        </div><!--end container-->
            </div>
        </div>

        <div id="img" class="col-md-6">
        <div class="view">
            <img src="../../assets/IMG_2167.jpg">	
            </div>
        
        </div>
    </div> 










<!-- 
	<head>
		<title>About Me</title>		
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>About Me</h1>
			</div>
			<div class="image"class="col-md-4">
				<img src="../../assets/IMG_2167.jpg">	
			</div>
			<div class="intro column">
				<h2>Introduction</h2>
				<p>
                    I am a 20 year old software/web developer currenting attending Towson University. i am a junior currently pursuing my first bachelors in Computer Science
                    and a minor in Mathematics.
				</p>
			</div>
			<div class="skills column">
				<h3>My Skills</h3>
				<ul id="skill-list">
					<li>Web Development</li>
					<li><strong>Languages:</strong> Java, Python, C++, TypeScript, JavaScript, HTML5, CSS, SQL</li>
					<li><strong>Frameworks:</strong> Angular, React JS</li>						
                    <li><strong>Operation Systems:</strong> Linux (Ubuntu, Kali), Windows and Mac OS</li>
                    <li><strong>Applications:</strong> AWS (EC2, S3, RDS, DynamoDB), Microsoft Azure</li>

				</ul>
			</div>
			<div class="main-text">
				<h3>More About Me</h3>
				<p>
					i have always been intrested in software devlopment ever since i was in middle school. At 12 years old i created my first simple web page with HTML and CSSI was 10 years old when I made my first web page with HTML and CSS. While I was studying in the university I took computer science  as my minor subject and was introduced to programming. During my studies I was an active member in student associations and became responsible for all kinds of tasks and projects including being a web master. That and my previous interest in web development created a spark to turn my hobby into a career. I took my first steps towards my new career in January 2017.
				</p>
				<p>
					I'm highly energetic and motivated person and I love to work as a member or a leader of a team. I especially enjoy working with changing projects and taking them forward with rapid pace but high precision. I am talkative and sociable but also known for getting "in the zone" while concentrating on detailed work like programming or designing.
				</p>
			</div>
		</div>
    </body> -->


    
    

    
