<div class="container">
<form [formGroup] >
    <h3>Please leave a meassage</h3>
    <div class="row">
         <div class="col-md-6">
             <div class="form-group">
                <input class="form-control" placeholder="Name" value="" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Email" value="" />
            </div>
            <div class="form-group">
                 <input class="form-control" placeholder="Phone Number" value="" />
             </div>
            <div class="form-group">
                  <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
            </div>
         </div>
        <div class="col-md-6">
             <div class="form-group">
                <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
             </div>
        </div>
    </div>
</form>
</div>
 