<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="home">


    <button id = "menubutton"
    (click)="openNav()"
    class = "navbutton">Menu </button>

    <div id="mySidenav" class="sidenav">
      <a href="#" class="closebtn" 
      (click)="closeNav()">&times;</a>
      <a href="#home"><i class="fa fa-fw fa-home" routerLink="/"></i> Home</a>
      <a href="weather"><i class="fa fa-fw fa-bolt" routerLink="weather"></i> Weather App</a>
      <a href="#aboutme"><i class="fa fa-fw fa-user"></i> About Me</a>
      <a href="../../assets/Resume.pdf"><i class="fa fa-fw fa-file "></i> Resume</a>
       <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    </div>

    <div style="padding-right: 50px;">
      <div class="right">
        <a href="../../assets/Resume.pdf">
          <p>Resume</p></a>
  
        <a href="https://github.com/olaniyan99">
            <p>Github</p></a>
      </div>
    </div>


  <div class="avatar">
    <img src="../../assets/Untitled_Artwork.PNG" />
  </div>

  <div class="intro">
    <h1>"You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality."</h1>
    <p> - Walt Disney</p>
  </div>

  <div class="iconRow">
    <div class="icon"> <p>Full Stack Developer</p> </div>
    <div class="icon"> <p>Mobile App Developer</p> </div>
    <div class="icon"> <p>Free Lancer</p> </div>
    <div class="icon"> <p>Web Designer</p> </div>
  </div>
</div>

<app-body></app-body>











































<!-- <div id="home">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="topnav">
    <button id = "menubutton"
    (click)="openNav()"
    class = "navbutton">Menu </button>

</div> 

    <div id="mySidenav" class="sidenav">
        <a href="#" class="closebtn" 
        (click)="closeNav()">&times;</a>
         <a href="#">Home</a>
         <a href="#">My Weather App</a>
         <a href="#">About Me</a>
         <a href="../../assets/Resume.pdf">Resume</a>
         <a href="#">Contact
         </a>
    </div>

      <div class="row">
          <div id="name" class="col-md-6">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <h1 class="heading display-3">My Name is Eni</h1>
              <h4 class="subheading font-weight-bold">Welcome to my Application</h4>
              </div>
          </div>
    
          <div id="img" class="col-md-6">
            <div class="view">
              <img src="https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg" class="img-fluid">
              <div class="mask flex-center hm-gradient">
              </div>
          </div>
          
          </div>
        </div> 
           
</div> -->